.cell{
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px; /*creates thickness*/
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
}

#game_container{
    font-family: "Permanent Marker", cursive;
    text-align: center;
}


/*making the box*/
#cellContainer{
    display:  grid;
    grid-template-columns: repeat(3, auto); /*creates a 3 by 3 grid*/
    width: 225px;
    margin: auto;
}